{% extends "base_internal.html" %}
{% block title %}{% trans %}Workshops Enrollment Form{% endtrans %} | Cayuman{% endblock %}
{% block head %}
<style>
    .day-label {
      font-weight: bold;
    }

    label {
      border-radius: 8px;
      padding: 1px 3px 1px 3px;
    }

    .highlight {
      background-color:orange;
      animation-name:bckanim;
      animation-fill-mode:forwards;
      animation-duration:3s;
      animation-delay:0s;
    }
    @keyframes bckanim {
      0% {background-color:orange;}
      100% { background-color:transparent;}
    }
</style>
{% endblock %}

{% block content %}
<div class="mx-auto" style="max-width: 720px">
    <h2>{% trans human_period=request.period.human_name %}Enrollment form for {{human_period}}{% endtrans %}</h2>
    <p>
        {% trans %}
            Fill up the following form choosing one workshop for each time block. Most workshops have only one weekly block, but some of them have two. For this last case both blocks will be chosen if you choose one of them.
        {% endtrans %}
    </p>

    <form id="enrollment" class="card border-success p-3" method="POST">
        {% csrf_token %}
        {% if form.non_field_errors() %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors() %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group" style="margin-bottom: 20px;">
                <h5 class="form-check-label day-label text-capitalize">{{ field.label }}</h5>
                {% if field.errors %}
                    <div class="field-errors" style="color: red; margin-bottom: 5px;">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="{{ field.name }}-wrapper lh-lg" style="padding: 5px;">
                    {{ field }}
                </div>
            </div>
        {% else %}
            <p class="text-center">{% trans %}No workshops available for this period{% endtrans %}</p>
        {% endfor %}
        {% if form.fields %}
        <div style="text-align: center;">
            <input type="submit" class="btn btn-outline-success btn-lg" name="submit" value="{% trans %}Save my workshops{% endtrans %}" />
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block bottom %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const radios = document.querySelectorAll('input[type="radio"]');
        let radioStates = {};

        // Initialize the tracking object with the current state of each radio button
        radios.forEach(radio => {
            radioStates[radio.value] = radio.checked;
        });

        function highlightLabel(label) {
            // Apply the orange background immediately
            label.classList.add('highlight');

            // Remove the orange background after a short delay, allowing the fade effect to show
            setTimeout(() => {
                label.classList.remove('highlight');
            }, 2000);
        }

        function increaseQuota(radio) {
            const commonParent = radio.closest('div');
            const spanBadge = commonParent.querySelector('span.badge');

            if (spanBadge) {
                // Get the current text content of spanBadge, trim it to remove any leading/trailing spaces
                let currentValue = spanBadge.textContent.trim();

                // Convert the text to an integer
                let intValue = parseInt(currentValue, 10);

                // Check if the conversion was successful to avoid NaN results
                if (!isNaN(intValue)) {
                    // Add 1 to the integer value
                    intValue += 1;

                    // Set the new value as the text content of spanBadge
                    spanBadge.textContent = intValue.toString();
                }
            }
        }

        function decreaseQuota(radio) {
            const commonParent = radio.closest('div');
            const spanBadge = commonParent.querySelector('span.badge');

            if (spanBadge) {
                // Get the current text content of spanBadge, trim it to remove any leading/trailing spaces
                let currentValue = spanBadge.textContent.trim();

                // Convert the text to an integer
                let intValue = parseInt(currentValue, 10);

                // Check if the conversion was successful to avoid NaN results
                if (!isNaN(intValue)) {
                    // Add 1 to the integer value
                    intValue -= 1;

                    // Set the new value as the text content of spanBadge
                    spanBadge.textContent = intValue.toString();
                }
            }
        }

        function toggleRadioButtons() {
            const spans = document.querySelectorAll('span.badge');
            spans.forEach(span => {
                const radio = span.closest('div').querySelector('input[type="radio"]');
                if (span.textContent.trim() === '0') {
                    if (radio) {
                        radio.disabled = true;
                    }
                } else {
                    if (radio) {
                        radio.disabled = false;
                    }
                }
            });
        }
        toggleRadioButtons(); // on document load disable radio buttons if badge == 0

        radios.forEach(radio => {
            radio.addEventListener('change', () => {
                decreaseQuota(radio);
                radioStates[radio.value] = radio.checked;

                // Enabled related radio buttons when one is checked
                radios.forEach(otherRadio => {
                    if (otherRadio.value === radio.value && otherRadio.name !== radio.name) {
                        otherRadio.checked = radio.checked;
                        decreaseQuota(otherRadio);
                        // Call highlightLabel on change
                        highlightLabel(otherRadio.parentElement);
                    }
                });

                // Disable related radio buttons when one is unchecked
                radios.forEach(otherRadio => {
                    if (radioStates[otherRadio.value] != otherRadio.checked) {
                        radioStates[otherRadio.value] = otherRadio.checked;

                        radios.forEach(anotherRadio => {
                            if (anotherRadio.value == otherRadio.value) {
                                anotherRadio.checked = otherRadio.checked;
                                increaseQuota(anotherRadio);
                                toggleRadioButtons();
                                // Call highlightLabel on change
                                highlightLabel(anotherRadio.parentElement);
                            }
                        });
                    }
                });
            });
        });

        // re-enable disabled radios before submitting
        const form = document.getElementById('enrollment'); // Select the form by ID
        form.addEventListener('submit', (event) => {
            form.querySelectorAll('input[type="radio"]:disabled').forEach(radio => {
                radio.disabled = false;
            });
        });

        // initialize popovers
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        popoverTriggerList.forEach((elem, index) => {
            elem.setAttribute('tabindex', index.toString());
        });
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {trigger: 'focus', container: '.form-group'}))
    });
</script>
{% endblock %}
