{% extends "base_internal.html" %}
{% block title %}{% trans %}Workshops Enrollment Form{% endtrans %} | Cayuman{% endblock %}
{% block head %}
<style>
    .day-label {
      font-weight: bold;
    }

    label {
      border-radius: 8px;
      padding: 1px 3px 1px 3px;
    }

    .highlight {
      background-color:orange;
      animation-name:bckanim;
      animation-fill-mode:forwards;
      animation-duration:3s;
      animation-delay:0s;
    }
    @keyframes bckanim {
      0% {background-color:orange;}
      100% { background-color:transparent;}
    }
</style>
{% endblock %}

{% block content %}
<div class="mx-auto" style="max-width: 720px">
    <h2>{% trans human_period=request.period.human_name %}Enrollment form for {{human_period}}{% endtrans %}</h2>
    <p>
        {% trans %}
            Fill up the following form choosing one workshop for each time block. Most workshops have only one weekly block, but some of them have two. For this last case both blocks will be chosen if you choose one of them.
        {% endtrans %}
    </p>

    <form id="enrollment" class="card border-success p-3" method="POST">
        {% csrf_token %}
        {% if form.non_field_errors() %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors() %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group" style="margin-bottom: 20px;">
                <h5 class="form-check-label day-label text-capitalize">{{ field.label }}</h5>
                {% if field.errors %}
                    <div class="field-errors" style="color: red; margin-bottom: 5px;">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="{{ field.name }}-wrapper lh-lg" style="padding: 5px;">
                    {{ field }}
                </div>
            </div>
        {% else %}
            <p class="text-center">{% trans %}No workshops available for this period{% endtrans %}</p>
        {% endfor %}
        {% if form.fields %}
        <div style="text-align: center;">
            <input type="submit" class="btn btn-outline-success btn-lg" name="submit" value="{% trans %}Save my workshops{% endtrans %}" />
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block bottom %}
<script>
    const isAdmin = {% if request.impersonator %}true{% else %}false{%endif %};
    //let workshops = {};
    document.addEventListener('DOMContentLoaded', () => {
        const radios = document.querySelectorAll('input[type="radio"]');
        let workshops = {};

        // Initialize the tracking object with the current state of each radio button
        radios.forEach(radio => {
            // store all workshops in a dict by `radio.value` (i.e. workshop identifier)
            const span = radio.closest('div').querySelector('span.badge');
            if (!workshops.hasOwnProperty(radio.value)) {
                workshops[radio.value] = {
                    "elements": [[radio, span]],
                    "checked": radio.checked,
                    "quota": parseInt(span.dataset.value),
                    "check": function(radioEl) {
                        this.checked = true;
                        this.quota -= 1;

                        for (const idx in this.elements) {
                            const otherRadio = this.elements[idx][0];
                            const spanBadge = this.elements[idx][1];

                            // re-render badge with new quota
                            this.renderBadge(spanBadge);

                            // set attributes for other radio
                            if (otherRadio.name != radioEl.name) {
                                // set same value of checked
                                otherRadio.checked = this.checked;

                                // highlight
                                this.highlight(otherRadio);
                            }
                        }
                    },
                    "uncheck": function() {
                        // set checked to false
                        this.checked = false;
                        this.quota += 1;

                        for (const idx in this.elements) {
                            const otherRadio = this.elements[idx][0];
                            const spanBadge = this.elements[idx][1];

                            // re-render badge
                            this.renderBadge(spanBadge);

                            // set attributes for other radio
                            otherRadio.checked = this.checked;

                            // toggle
                            this.switchEnable(otherRadio, spanBadge);

                            // highlight
                            this.highlight(otherRadio);
                        }
                    },
                    "highlight": function(radioEl) {
                        // Apply the orange background immediately
                        const label = radioEl.parentElement;
                        label.classList.add('highlight');

                        // Remove the orange background after a short delay, allowing the fade effect to show
                        setTimeout(() => {
                            label.classList.remove('highlight');
                        }, 2000);
                    },
                    "renderBadge": function(spanBadge) {
                        // Convert the text to an integer
                        spanBadge.dataset.value = this.quota.toString();

                        if(isAdmin) {
                            if(this.quota >= 0) {
                                spanBadge.classList.remove('text-bg-danger');
                                spanBadge.classList.add('text-bg-secondary');
                                spanBadge.textContent = this.quota.toString();
                            } else {
                                spanBadge.classList.remove('text-bg-secondary');
                                spanBadge.classList.add('text-bg-danger');
                                spanBadge.textContent = '{% if request.impersonator %}{% trans %}overflow{% endtrans %}{% endif %}: ' + this.quota.toString();
                            }
                        } else {
                            // Set the new value as the text content of spanBadge
                            if(this.quota >= 0)
                                spanBadge.textContent = this.quota.toString();
                        }
                    },
                    "switchEnable": function(radioEl, badge) {
                        const value = parseInt(badge.dataset.value, 10);
                        if (value <= 0) {
                            if (radioEl && !isAdmin) {
                                radioEl.disabled = true;
                            }
                        } else {
                            if (radioEl) {
                                radioEl.disabled = false;
                            }
                        }
                    }
                };
            } else {
                // append radio to siblings
                workshops[radio.value].elements.push([radio, span]);
            }
        });

        //toggleRadioButtons(); // on document load disable radio buttons if badge == 0


        // add listener to the radio change event to our logic runs as expected
        radios.forEach(radio => {
            radio.addEventListener('change', () => {
                workshops[radio.value].check(radio);  // set checked = true, decreaseQuota of both radios but highlight only the other one

                // walk over all elements of `workshops` other than `radio.value`
                radios.forEach(otherRadio => {
                    if(otherRadio.value != radio.value) {
                        otherWorkshop = workshops[otherRadio.value];
                        if(otherWorkshop.checked != otherRadio.checked)
                            otherWorkshop.uncheck();  // set checked = false, increaseQuota for both siblings, toggleradiobuttons, highlight both
                    }
                });
            });
        });

        // enable/disable radio buttons
        for (const name in workshops) {
            let ws = workshops[name];
            for (const idx in ws.elements) {
                const radioEl = ws.elements[idx][0];
                const spanBadge = ws.elements[idx][1];
                ws.renderBadge(spanBadge);
                ws.switchEnable(radioEl, spanBadge);
            }
        }


        // re-enable disabled radios before submitting
        const form = document.getElementById('enrollment'); // Select the form by ID
        form.addEventListener('submit', (event) => {
            form.querySelectorAll('input[type="radio"]:disabled').forEach(radio => {
                radio.disabled = false;
            });
        });

        // initialize popovers
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        popoverTriggerList.forEach((elem, index) => {
            elem.setAttribute('tabindex', index.toString());
        });
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {trigger: 'focus', container: '.form-group'}))
    });
</script>
{% endblock %}
