{% extends "base.html" %}

{% block title %}{{member.name}}'s Weekly Schedule{% endblock %}

{% block content %}
<h2>Weekly Workshop Schedule for {{member.name}} <small>({{ period.date_start }} - {{ period.date_end }})</small></h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Hour</th>
            {% for day in days %}
            <th scope="col">{{ day.1 }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for block in blocks %}
            <tr>
                <td scope="row">{{ block.0 }} - {{ block.1 }}</td>

            {% for sched, wp in data.items %}
                {% if sched.time_start == block.0 %}
                    <td>
                        {% if wp %}
                        {{wp.workshop.name}}
                        <br /><small>{{wp.teacher.name}}</small>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<div style="text-align: center;">
    <a href="/?force=true" class="btn btn-outline-warning btn-lg">&larr; Change my Workshops</a>
</div>
{% endblock %}
