{% extends "admin/base_site.html" %}
{% load cayuman %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {{period}}
&rsaquo; {% translate 'Timetable' %}
</div>
{% endblock %}

{% block content %}
<style>
  /* Ocultar el span con clase "small" por defecto */
  .tshort {
    display: none;
  }

  /* Cuando el ancho de la página es menor a 720px */
  @media (max-width: 720px) {
    /* Ocultar el span con clase "big" */
    .tlong {
      display: none;
    }
    /* Mostrar el span con clase "small" */
    .tshort {
      display: inline;
    }
  }

  #as-timetable {
    display: block;
  }

  #as-timetable div.workshop {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px grey;
  }
  #as-timetable div:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
</style>
<div id="content-main">
<div id="change-history" class="module">

{% if workshop_periods %}
    <div id="as-timetable">
    {% timetable workshop_periods %}
      {% if schedule in workshop_period.schedules.all %}
      <div class="workshop">
        <strong><a href="{% url 'admin:cayuman_workshopperiod_student_cycles' object_id=workshop_period.id %}">{{workshop_period.workshop.name}}</a></strong>
        <br /><small>{{workshop_period.teacher.get_full_name}} ({{workshop_period.count_students}})</small>
      </div>
      {% endif %}
    {% endtimetable %}
    </div>
{% else %}
    <p>{% translate 'No timetable for this cycle during' %} {{period}}</period></p>
{% endif %}
</div>
</div>
{% endblock %}
