{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Students' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
<div id="change-history" class="module">

{% if students_list %}
    <table>
        <thead>
        <tr>
            <th scope="col" style="width: 5%;">{% translate 'ID' %}</th>
            <th scope="col">{% translate 'Student' %}</th>
            <th scope="col">{% translate 'Cycle' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for sc in students_list %}
        <tr>
            <th>{{ sc.id }}</th>
            <td>{{ sc.student.get_full_name }}</td>
            <td>{{ sc.cycle.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="paginator">
      {% if pagination_required %}
        {% for i in page_range %}
          {% if i == students_list.paginator.ELLIPSIS %}
            {{ students_list.paginator.ELLIPSIS }}
          {% elif i == students_list.number %}
            <span class="this-page">{{ i }}</span>
          {% else %}
            <a href="?{{ page_var }}={{ i }}" {% if i == students_list.paginator.num_pages %} class="end" {% endif %}>{{ i }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
      {{ students_list.paginator.count }} {% blocktranslate count counter=students_list.paginator.count %}entry{% plural %}entries{% endblocktranslate %}
    </p>
{% else %}
    <p>{% translate 'There are no student cycles associated with this workshop period.' %}</p>
{% endif %}
</div>
</div>
{% endblock %}
